* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
  color: white;
}

nav a, nav a:visited, nav a:hover, nav a:active {
  color: white;
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
}

.content {
  padding: 1rem;
}

.footer {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.footer a, .footer a:visited, .footer a:active, .footer a:hover {
  color: white;
  padding: 0;
}

.text-quote {
  max-width: 40rem;
}

.text-right {
  text-align: right;
}

.fichier-row {
  padding-bottom: 1rem;
}

/* Albums */
/* Thumbnails */
.thumbnail {
  border: 2px solid lightgray;
  background-color: darkslategrey;

  float: left;
}

.thumbnailfooter, .thumbnailheader {
  background-color: lightgrey;
  color: black;
  opacity: 0.8;
  padding-left: 3px;
  padding-right: 3px;
  font-size: smaller;
}

.thumbnailheader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}

.thumbnailfooter {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.thumbnail IMG, .thumbnailmini IMG {
  object-fit: cover;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content {
  color: grey;
  background-color: black;
}

.modal-header {
  color: grey;
}

.modal-header .btn-close {
  background: white;
}

.carousel-viewer {
  text-align: center;
}

.carousel-viewer img {
  object-fit: contain;
  max-height: 100vh;
  max-width: 100vw;
}

/* Override navbar bootstrap */
.navbar { 
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    margin: 0.5em;
    width: 200px;
    height: 200px;
  }
  .thumbnailfooter {
    top: 150px;
  }
  .thumbnail IMG {
    width: 196px;
    height: 196px;
  }
}

@media screen and (max-width: 767px) {
  .thumbnail {
    margin: 0.2em;
    width: 115px;
    height: 115px;
  }
  .thumbnailfooter {
    top: 65px;
  }  
  .thumbnail IMG {
    width: 111px;
    height: 111px;
  }
}
